.logo img {
    width: auto;
    height: 60px;
}

header {
    background-image: url('../Images/cat.jpg');
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center; 
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 20px;
    align-items: center;
}

.navbarre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logoDiv {
    display: flex;
    align-items: center;
    gap: 2px;
}

.nav a, .nav div a, .logoDiv a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align:middle;
    display: flex;
    align-items: center;
}

.logoDiv a h2{
    font-weight: bold;
}

.nav div a h2{
    color: #FED5D7;
}

.nav div {
    background-color: #EF5773;
    padding: 0 10px;
    border-radius: 30px;
}

.nav .connect {
    color: #EF5773;
}

.nav div a {
    height: 40px
}

.burgerNav {
    display: none;
}

@media (max-width: 768px) {
    .navbarre {
        flex-direction: row;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    header {
        height: 100px;
    }

    .nav {
        display: none;
    }

    .burgerNav {
        display: block;
        display: flex;
        flex-direction:row-reverse;
    }

    .burgerButton {
        background: transparent;
        border: none;
    }

    .burgerMenu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .redirectionPage {
        display: flex;
        flex-direction: column;
        background-color:#FED5D7;
        padding: 0 20px;
        max-width: 700px;
        min-width: 200px;
        border-radius: 10px;
        z-index: 9999;
        text-align:center;
    }

    .redirectionPage a {
        color: #EF5773;
        text-decoration: none;
    }

    .cross {
        text-align: end;
    }
}