body {
    background-color: #FFE4E4;
    margin: 0;
}

.page-container {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.banner {
    width: 100%;
    height: 140px; 
    background-color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-container {
    background-color: white;
    padding: 25px; 
    border-radius: 20px;
    text-align: center;
    width: 130%; 
    max-width: 550px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
}

.form-container h2 {
    margin-bottom: 30px;
}


.auth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.auth-text {
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    font-family: Arial;
}
button {
    border: none;
    border-radius: 30px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.signup-btn {
    background-color: #FAB2BB;
    color: white;
}

.login-btn {
    background-color: #EF5773;
    color: white;
}

button a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
}

button:hover {
    opacity: 0.8;
}
